<html>
<head>
  <meta charset="UTF-8">
  <title>Guigui's chat</title>
  <style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font: 13px Helvetica, Arial; }
    #form-input { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
    #form-input textarea { resize: none; height: 50px; border: 0; padding: 10px; width: 90%; margin-right: .5%; }
    #form-input button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
  </style>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
* {
   font-size: 30px;
   line-height: 2;
}
  </style>
</head>
<body>

  <!------------>
  <!-- Modal  -->
  <!------------>

  <div class="modal fade" id="username-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">What's your name?</h2>
        </div>
        <div class="modal-body">
          <form action="" class="form-group" id="username-form">
            <input id="username" class="form-control input-lg" style="font-size: 30px;">
            <div class="alert alert-danger hidden" id="username-form-error" style="font-size: 20px;">
              Please input a name.
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="username-modal-btn" class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

  <!------------>
  <!--  Body  -->
  <!------------>
  <h2 id="messages"></h2>
  <form id="form-input" action="" autocomplete="off">
    <textarea id="m"/></textarea><button class=".btn-primary">Send</button>
  </form>


  <!------------->
  <!--Javascript->
  <!------------->
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"   integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="   crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script>
    $('#username-modal-btn').click(function(){
      $("#username-form").trigger("submit");
    });
    $('#username-modal').modal({backdrop: 'static', keyboard: false});
    $('#username-modal').modal('show');

    var socket = io();
    $('#form-input').submit(function(){
      socket.emit('chat message', $('body').data("user-name") + ": " + $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
      $('body').scrollTop($('body')[0].scrollHeight);
    });
    socket.on('new user', function(msg){
      $('#messages').append($('<li>').text(msg));
      $('body').scrollTop($('body')[0].scrollHeight);
    });

    $('#username-modal').on('hide.bs.modal', function (e) {
      var getUserName = $('#username-modal #username').val();
      var userParams = {};

      if ( getUserName === "" ){
        $('#username-form-error').toggleClass("hidden")
        e.preventDefault();
      } else {
        userParams.id = socket.id;
        userParams.name = getUserName;
        userEnteredRoom(userParams);
      }
    });

    $("#username-form").submit(function(e){
      var getUserName = $('#username-modal #username').val();
      $('body').data("user-name", getUserName);
      e.preventDefault();
    });

    $('#username').keypress(function (e) {
      var key = e.which;
      if(key == 13) {
        $("#username-form").trigger("submit");
        $('#username-modal').modal('hide');
        e.preventDefault();
      }
    });

    $('#m').keypress(function (e) {
      var key = e.which;
      if(key == 13) {
        socket.emit('chat message', $('body').data("user-name") + ": " + $('#m').val());
        $('#m').val('');
        return false;
      };
    });

    socket.on('auth user', function(userHash){
      $('body').data("user-hash", userHash);
    });

    function userEnteredRoom(userParams){
      socket.emit('add user', userParams);
      socket.emit('chat message', "*" + userParams.name + " has entered the room.");
     };

</script>
</body>

</html>
